@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900|Dosis:300,400,600,700,800|Droid+Sans:400,700|Lato:300,400,700,900|PT+Sans:400,700|Ubuntu:300,400,500,700|Open+Sans:400,300,600,700|Roboto:400,300,500,700,900|Roboto+Condensed:400,300,700|Open+Sans+Condensed:300,700|Work+Sans:400,300,700|Play:400,700|Maven+Pro:400,500,700,900&subset=latin,latin-ext);

:root {
  --main-red-color: #a90e10;
  --main-txt-color: #ebebeb;
}

html {
    background-color: #ebebeb;
    color: White;
    font-size: 16px;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  body {
    padding: 0;
    margin: 0;
  }
  
header {
    position: absolute;
    width: 100%;
    height: 3.7rem;
    background-color: var(--main-red-color);
    padding: 0.3rem;
  }

  header .title {
    color: var(--main-txt-color);
    margin-left: 1rem;
    display: inline-block;
    font-size: 2rem;
  }
  header .user {
    float: right;
  }
  header .user img {
    margin-top: 0.5rem;
    -moz-border-radius: 24px;
    -webkit-border-radius: 24px;
    border-radius: 24px;
    display: inline-block;
    width: 35px;
    height: 35px;
  }
  header .user .content {
    margin-top: 0.5rem;
    margin-right: 3rem;
    margin-left: 0.5rem;
    display: inline-block;
    vertical-align: top;
  }
  header .user .content .name {
    color: var(--main-txt-color);
    font-weight: 400;
    font-size: 1.4rem;
  }
  header .user .content .titulus {
    font-size: 0.7rem;
  }

.container {
    position: absolute;
    left: -2rem;
    top: 5rem;
    bottom: 0rem;
    max-width: 18rem;
    display: -webkit-flex;
    display: flex;
  }
  .container .navbar {
    width: 16rem;
    display: inline-block;
  }
  .container .navbar ul {
    padding: 0;
    list-style: none;
  }
  .container .navbar ul li {    
    text-decoration:none; 
    border-bottom: 1px solid #343841;
    padding: 1.5rem;
    font-size: 1.2rem;
    cursor: pointer;
    -moz-transition: border-left 0.2s linear, color 0.2s linear;
    -o-transition: border-left 0.2s linear, color 0.2s linear;
    -webkit-transition: border-left 0.2s linear, color 0.2s linear;
    transition: border-left 0.2s linear, color 0.2s linear;
  }
  .navbar ul li a:hover, .navbar ul li a:focus, .navbar ul li a:active{
    text-decoration: none;
    color: inherit;
}
  
  .container .navbar ul li:hover {
    color: red;
    border-left: 4px solid var(--main-red-color);
  }
  .container .navbar ul li.active, .container .navbar ul li:active {
    color: red;
    text-shadow: 0 0 20px var(--main-red-color);
    border-left: 4px solid var(--main-red-color);
  }
  
  .container .navbar ul a:hover, .container .navbar ul a:active,.container .navbar ul a:focus, .container .navbar ul a:visited{
    text-decoration: none;
    color: inherit;
  }

  .conteudo{
    max-width: 80rem;
    top: 9rem;
    position: absolute;
    left: 20rem;
  }
